%div(data-role="page" id="home")
  = haml :header
  
  %section(data-role="content")
    = haml :home
  
  = haml :footer

%div(data-role="page" id="work")
  = haml :header
  
  %section(data-role="content")
    = haml :work
  
  =haml :footer      

%div(data-role="page" id="options")

  =haml :options

  =haml :footer